<section class="section clients">
  <div class="flex-grid">
    {% assign clients = site.data.clients %} {% for client in clients %} {% if client.published == true %}
    <div class="sixth-col">
      <div class="box--size-outer">
        <div class="flex-item box--size-inner">
          <div class="client-logo flex-item--center">
            <img src="/assets/img/clients/{{ client.logo }}" alt="{{ client.title }}" />
          </div>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</section>
