<footer class="site-footer">
		<div class="footer-content row">

		<div class="col-sm-4">
			<address>
				<ul class="contact-list">
					<li class="footer-heading">{{ site.title | escape }}</li>
					{% if site.address %}
					<li>{{ site.address | escape }}<br>{{ site.address2 | escape }}</li>
					{% endif %}
					{% if site.cvr %}
					<li>CVR: {{ site.cvr }}</li>
					{% endif %}
					{% if site.phone %}
					<li>Tel: {{ site.phone }}</li>
					{% endif %}
					{% if site.email %}
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
					{% endif %}
				</ul>
			</address>
		</div>

		<div class="col-sm-2">
			
		</div>

		<div class="col-sm-3">
			<ul class="footer-menu">
				<li><i class="fal fa-shield-alt"></i>&nbsp; <a href="/privatlivspolitik/">Privatlivspolitik</a></li>
				<li><i class="fal fa-cookie"></i>&nbsp; <a href="#" id="cookie-consent-link">Cookie præferencer</a></li>
			</ul>
		</div>

		<div class="col-sm-3 ">
			<ul class="footer-socials">
				<li><a href="https://www.facebook.com/monsun.dk/" target="_blank"><i class="fab fa-facebook"></i></a></li>
				<li><a href="https://www.linkedin.com/company/monsundk/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
				<li><a href="https://github.com/MonsunDK" target="_blank"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
		
		</div>
		<!-- COPYRIGHT AREA -->
			<div class="row">
				<div class="col-xs-12">
					<p class="copyright text-center">
					&copy; {{ site.time | date: "%Y" }} {{ site.title | escape }}. Alle rettigheder forbeholdes.
					</p>
				</div>
			</div>
</footer>



<script>
    document.getElementById('cookie-consent-link').addEventListener('click', function(e) {
        e.preventDefault();
        if (
            window.silktideCookieBannerManager &&
            window.silktideCookieBannerManager.cookieBanner &&
            typeof window.silktideCookieBannerManager.cookieBanner.showBannerAgain === 'function'
        ) {
            window.silktideCookieBannerManager.cookieBanner.showBannerAgain();
        }
    });
</script>

