<section class="hero">
	{% if page.hero_video %}
	<video width="640" height="360" autoplay muted loop playsinline>
		<source src="{{ page.hero_video }}" type="video/mp4">
		Your browser does not support the video tag.
	</video>
	{% elsif page.hero_img %}
	<img src="{{ page.hero_img }}" alt="" loading="lazy" decoding="async"/>
	{% endif %}
	
    <div class="hero-inner">
      	<span class="hero--text">
			{{ page.title | escape }}
		</span>
    </div>
</section>

<div class="divider">
	<a class="divider-link" href="#scr-content">
		<span class="divider-arrow"><i class="fa-sharp fa-light fa-chevron-down"></i></span>
		<span class="v-lines"><span></span></span>
	</a>
	<a id="scr-content"></a>
</div>