<nav class="main-navigation" role="navigation" aria-label="Main navigation">
	<div class="nav-header">
		<button class="nav-toggle" id="nav-toggle" aria-label="Toggle navigation"><i class="fa-sharp fa-solid fa-plus"></i></button>
		<a class="site-logo" href="{{ '/' | relative_url }}">MONSUN</a>
	</div>

	<div class="nav-items" id="nav-items" style="--total: {{ site.data.navigation.size }}">
		
			{% for link in site.data.navigation %} {% assign class = nil %} {% assign style = nil %} {% if page.url == link.url %} {% assign class = 'active' %} {% assign style = link.color %} {% endif %}
			<a href="{{ site.baseurl }}{{ link.url }}" class="nav-item nav-item-{{ forloop.index0 }} {{ class }}" style="--i: {{ forloop.index0 }};" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }}</a>

			{% endfor %}
	
	</div>
</nav>



<script>
	const menu = document.getElementById('nav-items');
	const btn  = document.getElementById('nav-toggle');
	let isOpen = false;

	btn.addEventListener('click', () => {
		btn.classList.toggle('active');
		isOpen = !isOpen;

		if (isOpen) {                    // =====  OPEN  =====
			menu.classList.remove('closing');
			requestAnimationFrame(() => {  // wait 1 frame
				menu.classList.add('opening');
			});
			return;
		}

		/* =====  CLOSE  ===== */
		menu.classList.remove('opening');
		menu.classList.add('closing');

		const total = menu.children.length * 100 + 350;
		setTimeout(() => {
			menu.classList.remove('closing');
		}, total);
	});
</script>


     
