<section class="page-content flex-grid portfolio" id="lazy-portfolio">
  <a href="#scr-portfolio" class="section-header">
    <span class="section-title">opgaver</span>
    <span class="v-lines">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>
  <a id="scr-portfolio"></a>
  {% assign boxes = site.data.portfolio %} {% for box in boxes %} {% if box.published == true %}
  <div class="box--{{ box.type }} animated {{ box.width }}-col lazy" data-src="/assets/img/{{ box.image }}.jpg" style="background-color:{{ box.color }};">
    <div class="box--size-outer">
      <a href="#{{ box.id }}_{{ box.title | slugify }}" class="box--size-inner myBtn_multi" data-toggle="modal" data-target="#{{ box.id }}_{{ box.title | slugify }}">
        <p class="tag" style="color:{{ box.text-color }};">{{ box.tag }}</p>
          <div class="box--text-container" style="color:{{ box.text-color }};">
            <p class="box-title">{{ box.title }}</p>
            <p class="box-description">{{ box.description }}</p>
          </div>
      </a>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal modal_multi permalink" id="{{ box.id }}_{{ box.title | slugify }}" tabindex="-1" role="dialog" aria-labelledby="{{ box.id }}_{{ box.title | slugify }}" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/assets/img/x.svg" alt="Close"/></button>

    <div class="modal-dialog">

      <!-- Modal content -->
      <div class="modal-content">

        <div class="modal-header">
          <p class="box-title">{{ box.title }}</p>
          <div class="box-description-wrap">
          <p class="box-description">{{ box.description }}</p>
          </div>
        </div>
        <div class="modal-body" id="yt-player">
          {% for item in box.items %}
          <div class="modal-item">
            <div class="media-content" >
              {% if item.image %}
              <picture>
                <source media="(min-width: 1024px)" srcset="/assets/img/{{ item.image }}.jpg" />
                <source media="(min-width: 500px)" srcset="/assets/img/{{ item.image }}.jpg" />
                <img class="lazy" alt="{{ item.title }}" src="/assets/img/{{ item.image }}.jpg" style="width:100%;">
              </picture>

              <!--<picture><img data-src="/assets/img/{{ item.image }}.jpg" alt="{{ item.title }}" style="width:100%;"></picture>-->
              {% endif %}
              {% if item.video %}
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ item.video }}?enablejsapi=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
              </div>
              {% endif %}
            </div>
            <div class="box--bottom-container">
              <p class="box-title">{{ item.title }}</p>
              <p class="box-description">{{ item.description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  {% endif %} {% endfor %}

  <script>

    $(document).ready(function() {
      $(".modal.permalink").each(function() {
        if (window.location.href.indexOf($(this).attr("id")) != -1) {
          $(this).modal('show');
        }
      });
    });

    (function() {
      new LazyLoad({
        elements_selector: ".lazy"
      });
    }());


var globalLazyLoad = new LazyLoad();
</script>


<script>
var $root = $('html, body');

$('a[href^="#scr-"]').click(function () {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);

    return false;
});
</script>



</section>
