<section class="flex-grid portfolio">

  {% assign boxes = site.data.portfolio %} {% for box in boxes %} {% if box.published == true %}

  <div class="box--{{ box.type }} box--id{{ box.id }} {{ box.width }}-col {{ box.mob-width }}-col-sm" 
    data-bg="{{ '/assets/img/portfolio/' | relative_url }}{{ box.image }}"
    style="background-color:{{ box.color }}; "
    role="img"
    aria-label="{{ box.alt | default: box.title }}">

    <div class="box--size-outer">
      {% if box.type == 'quote' %}
      <div class="box--size-inner myBtn_multi">
      {% else %}
      <a href="#{{ box.id }}_{{ box.title | slugify }}" class="box--size-inner myBtn_multi" data-toggle="modal" data-target="#{{ box.id }}_{{ box.title | slugify }}">
      {% endif %}
        
        <div class="box--text-container" style="color: {{ box.text-color }};">
			<span class="box-tag" style="color: {{ box.text-color }};">{{ box.tag }}</span>
			<span class="box-title">{{ box.title }} / {{ box.client }}</span>
        </div>
      {% if box.type == 'quote' %}
      </div>
      {% else %}
      </a>
      {% endif %}

    </div>
  </div>

  <!-- The Modal -->
  <div class="modal modal_multi permalink" id="{{ box.id }}_{{ box.title | slugify }}" tabindex="-1" role="dialog" aria-labelledby="{{ box.id }}_{{ box.title | slugify }}" aria-hidden="false">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="fal fa-times"></i>
					</button>
		<div class="modal-dialog">
			<!-- Modal content -->
			<div class="modal-content">

				<div class="modal-header">
					<div class="modal-header-text">
						<span class="modal-tag">{{ box.tag }}</span>
						<h1 class="modal-title">{{ box.title }} / {{ box.client }}</h1>
					</div>
					
				</div>

				<div class="modal-body" id="yt-player">
				{% for item in box.items %}
				<div class="modal-item">
					<div class="media-content" >
					{% if item.image %}
						<img alt="{{ item.title }}" src="/assets/img/portfolio/{{ item.image }}" style="width:100%;" loading="lazy" decoding="async">
					{% endif %}
					{% if item.video %}
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="{{ item.video }}?enablejsapi=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
					</div>
					{% endif %}
					</div>
					{% if item.title or item.description %}
					<p class="modal-item--description"><span class="modal-item--title">{{ item.title }}</span> {% if item.description %}/ {{ item.description }}</p>{% endif %}
					{% endif %}
				</div>
				{% endfor %}
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
  </div>




  {% endif %} {% endfor %}




</section>
