// Typography

body {
  text-shadow: 0 1px 0px rgba(white, .3);
}

a {
  text-decoration: underline;
}

a, button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

blockquote {
  font-size: 24px;
  border-left: none;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.45;
}

.highlight {
  padding-right: 1px;
  text-shadow: 0 1px 0px rgba(white, 0);
  font-weight: 400;

  > .wrap {
    position: relative;
    background-color: rgba($brand-secondary, 1);
    padding: 1px 0px 2px;
  }
}

.big {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.65;
}

.big.highlight {
  line-height: 2;
  > .wrap {
    padding: 4px 0px 4px;
  }
}

p {
  margin-bottom: 2rem;
}

hr {
  margin: 40px 0;
  border-top: 1px solid #ddd;
}

img {
  width: 100%;
  height: auto;
}

.mt4 {
  margin-top: 4rem;
}

.header,
.label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.label {
  font-size: 16px;
  opacity: 0.8;
}

.portfolio {}

.section-header {
  display: block;
  width: 100%;
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 14px;
  background-color: $body-bg;
  text-align: center;
  position: relative;
  z-index: 3;
  text-decoration: none;
  line-height:50px;
  height: 50px;


  span.section-title {
    display: inline-block;
    background-color: $body-bg;
    padding: 0;
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    position: relative;
    text-align: center;

    svg {
      position: relative;
      @include transition($slow);
      color: rgba($text-color, .5);
      height: 30px;
      width: auto;
      top:10px;
      -webkit-animation: bounce 1s 3s 4 alternate;
      -moz-animation: bounce 1s 3s 4 alternate;
      -o-animation: bounce 1s 3s 4 alternate;
      animation: bounce 1s 3s 4 alternate;
    }

    &:hover, &:focus {
      text-decoration: none;
      svg {
        @include transition($fast);
        color: rgba($text-color, 1);
      }
    }
  }

  span.v-lines {
    position: absolute;
    top:50%;
    left:0;
    width: 100%;
    transform: translate(0, -50%);
    z-index: -1;
    span {
      width: 100%;
      height: 0px;
      border-bottom: 2px solid #e5e5e5;
      display: block;
      margin: 2px 0;
    }
  }



}

// Site header

.site-header {
  position: relative;
  z-index: 99;
  width: 100%;
  @media only screen and (min-width: $screen-sm) {}

  .header-box {
    position: relative;

    .header-box--inner {
      position: absolute;
      top: 20px;
      left: 20px;
      width: calc(100% - 20px);
    }
  }

  .header-box--nav {
    .header-box--inner {
      position: absolute;
      top: 20px;
      right: 20px;
      left: auto;
    }
  }
}

// Header Logo

.site-header {
  padding: 0;
  position: relative;
  top:0;

  &:after {
    content: '';
    border-bottom: none;
    width: 100%;
    display: block;
    opacity: .1;
    position: absolute;
    left:0;
    right:0;
  }
  .navbar-brand {
    width: 100px;
    display: inline-block;
    img {
      position: relative;
      top:50%;
      width: 100%;
      transform: translate(0, -50%);
    }
  }
}

// Main Navigation

.container-fluid {
  padding: 20px;
}


.navbar-top {
  margin: 0;
  border-radius: 0;
  border: none;
  height: 50px;
  padding: 0 0px;
}

.navbar-nav {
  > li {margin: 0px 0px;}
  > li > a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    line-height: 48px;
    height: auto;
    padding: 0 10px;
    font-weight: 400;
    color: $gray;

    @media (min-width: $grid-float-breakpoint) {
      font-size: 12px;
      height: 50px;
      background-color: transparent;

    }

    .feather {
      height: 10px;
      display: none;
    }

  }

  > li.active > a,
  > li > a:focus,
  > li > a:hover {
    color: $brand-primary !important;

  }
}

.navbar-default .navbar-toggle {
  border-color: transparent;

  .icon-bar {
    background-color: #888;
    @include transition($fast);
  }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border-color: transparent;
  .icon-bar {
    background-color: $brand-primary;
    @include transition($slow);
  }
}

.navbar-toggle {
  border-color: transparent;
  border-radius: 0px;
  display: block;
  @media only screen and (min-width: $screen-sm) {
    display: none;
  }
}

.navbar-toggle .icon-bar {
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-default .navbar-collapse {
  background-color: $body-bg;
  box-shadow: none;
  border-top: none;

  .navbar-nav {
    padding: 25px 30px 30px;

    @media (min-width: $grid-float-breakpoint) {
      padding: 0 20px;
    }

    > li > a {
      &:hover, &:focus {
        background-color: #eee;
      }
    }
  }

  @media (max-width: $grid-float-breakpoint) {
    box-shadow: 0 0 10px rgba(black, 0.1);
    border-top: 1px solid $border-color;
  }
}

.navbar-header {
  padding: 0 20px;
  background-color: $body-bg;
}

/*

.navbar-nav,
.navbar-nav .dropdown-menu,
.navbar-nav .dropdown {
  display: flex;
  flex-direction: row;
  text-align: right;

  > li {
    padding: 1px 0 1px 18px;
    flex: 0 0 auto;
    float: none;
  }

  > li > a {
    position: relative;
    text-decoration: none;
    padding: 0px 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.15;
    float: right;

    background-color: $gray-dark  !important;
    color: #f0f0f0  !important;

    .feather {
      height: 8px;
      width: 8px;
      position: absolute;
      left: -18px;
      top: 2px;
      opacity: 0;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      color: $brand-primary;
    }
  }

  > li.active > a,
  > li > a:focus,
  > li > a:hover {
    background-color: $brand-primary !important;
    color: #f0f0f0 !important;
    .feather {
      opacity: 1;
      color: crimson;
      left: -13px;
    }
  }
}

.navbar .navbar-collapse  {
  box-shadow: none;
}

.navbar-nav .dropdown {
  flex-direction: column;
  align-items: flex-end;

  .dropdown-toggle {
    flex: 0 0 auto;
  }
}

.navbar-nav > li > .dropdown-menu {
    display: flex ;
    position: absolute ;
    top:100%;
    left: auto;
    right: 0;
    min-width: 160px;
    padding: 0;
    margin: 10px 0 0;
    font-size: 10px;
    text-align: right;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-clip: padding-box;
    flex-direction: column;
    overflow: hidden;
    max-height: 1px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;

    > li > a {
        font-weight: 500;
        .feather {
          top: 2px;
        }
    }
}

.navbar-nav .open .dropdown-menu {
    max-height: 150px;
    margin: 10px 0 0;
}


@media only screen and (min-width: $screen-sm) {}

.navbar .navbar-toggle {
    flex: 0 0 auto;
    border-color: rgba(0,0,0, 0);
    margin: -20px -20px 0 0;
    border-radius: 0;
    position: relative;
    float: right;
    padding: 19px 20px 19px 20px;
    background-color: rgba($body-bg, 0);
    background-image: none;
    border: 1px solid transparent;
  }

.navbar .navbar-toggle .icon-bar {
    background-color: rgba($gray-dark, 1);
}



.navbar .navbar-toggle {
  flex-direction: column;
  align-items: flex-end;
    .icon-bar {
      flex: 1 1 auto;
        display: block;
        height: 4px;
        width: 4px;
        border-radius: 2px;
    }

    .icon-bar1 {
      -webkit-transition: all .1s ease-out;
      -moz-transition: all .1s ease-out;
      -o-transition: all .1s ease-out;
      transition: all .1s ease-out;
    }
    .icon-bar2 {
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
    }
    .icon-bar3 {
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: rgba($body-bg, 0);
    .icon-bar {
      background-color: rgba($brand-primary, 1);
      width: 30px;
    }
}

*/

// Nav Main


.navbar-sidebar {
  .navbar-collapse {
    position: relative;
  }

  .navbar-nav {
    flex-direction: column;
    position: relative;
    right: 0px;
    top:-2px;

    .dropdown {
      flex-direction: column;
    }

    @media (min-width: $grid-float-breakpoint) {
      position: absolute;
    }
  }
}


// Nav Sidebar

/*
.navbar-sidebar {
  .navbar-collapse {
    position: relative;
  }
  .navbar-nav {
    position: relative;
    right:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: $grid-float-breakpoint) {
      position: absolute;
      right:0;
    }

    > li {
      flex: 0 0 auto;
    }

    > li > a {
      text-decoration: none;
      color: inherit;
      position: relative;
      padding: 0;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.05em;
      line-height: 1.35;

      .feather {
        height: 8px;
        width: 8px;
        position: absolute;
        left: -25px;
        top: 3px;
        opacity: 0;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
    }

    > li.active > a,
    > li > a:focus,
    > li > a:hover {
      background-color: transparent;
      .feather {
        opacity: 1;
        color: crimson;
        left: -15px;
      }
    }
  }
}






.main-nav {
  margin-top: 13px;
  &:before {
    content: 'main_nav';
    position: absolute;
    top: 0px;
    right: 1px;
    font-size: 6px;
    font-weight: 400;
    opacity: .75;
  }
}

.main-nav,
.main-nav .dropdown,
.main-nav .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  > li {
    flex: 0 0 auto;
  }

  > li > a {
    text-decoration: none;
    color: inherit;
    position: relative;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.35;


    .feather {
      height: 8px;
      width: 8px;
      position: absolute;
      left: -25px;
      top: 3px;
      opacity: 0;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
  }

  > li.dropdown {
    .dropdown-toggle {
      .feather {
        top:3px;
        left: -11px;
      }
    }

    ul.dropdown-menu {
      display: flex;
      position: relative;
      border-radius: 0;
      border: none;
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      margin: 0;
      opacity: 0;
      -webkit-transition: all .5s ease-out;
      -moz-transition: all .5s ease-out;
      -o-transition: all .5s ease-out;
      transition: all .5s ease-out;

      &:after,
      &:before {
        content: '';
        height: 1px;
        width: 20px;
        background-color: rgba(0,0,0, 0.1);
        margin: 6px 0;
      }

      > li > a {
        font-size: 11px;
        font-weight: 500;
        line-height: 1.5;
      }

      > li.divider {
        margin: 5px 0;
        background-color: rgba(0,0,0, 0.1);
        flex: 0 0 1px;
        align-self: stretch;
      }
    }
  }

  > li.active > a,
  > li > a:focus,
  > li > a:hover {
    background-color: transparent;
    .feather {
      opacity: 1;
      color: crimson;
      left: -15px;
    }
  }
  > li.active > a {}
}


.main-nav .dropdown.open .dropdown-menu {
  opacity: 1;
}

*/


.iframe-wrap {
  margin-bottom: -6px;
}

// page


article.post {
  margin: 0px auto 100px;
  max-width: 100%;
  padding: 0px 20px;
  position: relative;
  z-index: 99;

  @media only screen and (min-width: $screen-sm) {
    max-width: 50%;
  }

  .post-header {}

  .post-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 3vw;
    letter-spacing: -0.015em;
    margin-left: -1px;
    line-height: 1.45;

  }

  .post-manchet {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 4vw;
    font-weight: 400;
  }

  .post-content {}

  .image-wrapper {
    margin-bottom: 40px;
  }

  .image-caption {
    margin: 10px 0;
    font-size: 10px;
  }
}
.post-label {
  font-weight: 400;
  font-size: 12px;
  text-shadow: none;
  letter-spacing: 0.05em;
  position: relative;
  display: inline-block;

}

/*
.post-label {
  font-weight: 700;
  font-size: 10px;
  text-shadow: none;
  color: $body-bg;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 30px 9px 4px;
  background-color: rgba($gray-dark, 1);
  text-transform: uppercase;
  position: relative;

}*/

.typewrite {
  padding-right: 1px;
  font-weight: 500;

  > .wrap {
    position: relative;
    background-color: SALMON;
    padding: 1px 0 4px 0;

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      right: -10px;
      display: inline-block;
      height: 26px;
      width: 2px;
      background-color: $text-color;
      animation: blinker 1s linear infinite;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


// buttons
.btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

// Site Footer

.site-footer {
  padding: 100px 0 10px;
  font-size: 14px;
  .footer-col-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    .footer-col {
      flex: 1 1 200px;
      margin: 0 20px;
    }
  }

}

ul.some_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;

  li {
    flex: 0 0 30px;
    margin-right: 5px;
    opacity: 0.35;
  }
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4;
}


address {
  margin-bottom: 10px !important;
  font-style: normal;
}

picture {
  width: 100%;
}
// Flex Grid

.flex-item,
.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-item--center {
  flex: 0 0 auto;
  align-self: center;
  text-align: center;
  @include center-block;
}

.box--area {
  flex: 0 0;
}

// sliders

.slideshow {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
// Format ratio

.box--size-outer {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (2 / 1) * 100%;
  }

  > .box--size-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.one-col {
  flex: 0 0 25%;

  .box--size-outer {
    &:before {
      padding-top: (3 / 2) * 100%;
    }
  }
}

.two-col {
  flex: 0 0 50%;

  .box--size-outer {
    &:before {
      padding-top: (3 / 4) * 100%;
    }
  }
}

.three-col {
  flex: 0 0 75%;

  .box--size-outer {
    &:before {
      padding-top: (1 / 2) * 100%;
    }
  }
}

.four-col {
  flex: 0 0 100%;

  .box--size-outer {
    &:before {
      padding-top: (3 / 8) * 100%;
    }
  }
}

.sixth-col {
  flex: 0 0 16.666%;
  .box--size-outer {
    &:before {
      padding-top: (4 / 4) * 100%;
    }
  }
}

.slideshow {
  .box--size-outer {
    &:before {
      padding-top: (1 / 2) * 100%;
    }
  }
}

.clients {
  margin: 40px -1px;
  .box--size-outer {
    > .box--size-inner {
      background-color:#583131;
      margin: 1px;
      color: $body-bg;
      font-size: 10px;
    }
  }
}

.client-logo {
  width: 50%;
}

@media only screen and (max-width: $screen-sm) {
  .four-col,
  .one-col,
  .three-col,
  .two-col {
    flex: 0 0 100%;

    .box--size-outer {
      &:before {
        padding-top: (1 / 2) * 100%;
      }
    }
  }
  .sixth-col {
    flex: 0 0 25%;
  }
}

// Portfolio Box

.box,
.box--area,
.box--background,
.box--embed,
.box--employee,
.box--footer,
.box--media,
.box--quote,
.box--slide,
.box--spot {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  .tag {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
  }

  a.box--size-inner {}

  a.box--size-inner:focus {
    outline: 0px solid rgba($text-color, 0);
    outline-offset: 0;
  }
}

.box--text-container {
  position: absolute;
  bottom: 15px;
  left: 20px;
  right: 20px;
  margin: 0;
  color: $text-color;
  text-shadow:none;
}

.box-title {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
  line-height: 1.45;
}

.tag,
.box-description {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  display: none;
  @media only screen and (min-width: $screen-sm) {
    display: block;
  }
}

.box--quote {
  .box--text-container {
    top:50%;
    bottom: auto;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);

    .box-title {
      font-size: 5vw;
      line-height: 6vw;
      letter-spacing: normal;
      text-transform: none;
      margin-bottom: 20px;

      @media only screen and (min-width: $screen-sm) {
        font-size: 3vw;
        line-height: 3.7vw;
      }
    }
  }
}



// Modal

.myBtn_multi {
  cursor: pointer;
}

// Container that the modal scrolls within
.modal {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $body-bg;
  background-color: rgba($body-bg,1);
  left: 0;
  top: 0;
  position: fixed;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.8s;
  animation-name: fadein;
  animation-duration: 0.8s;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      width: $screen-sm;
      max-width: 90%;
      margin: 5% auto;
    }
}

// Actual modal
.modal-content {
    background-color: transparent;
    padding: $modal-padding;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

// Modal background
.modal-backdrop {}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: 0 50px 15px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid $border-color;

  @media only screen and (min-width: $screen-sm) {
    padding: 0 0 15px 0;
  }
}

// Title text within header
.modal-title {
  margin: -5px 0 0 -1px;
  line-height: 1.2;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: inline-block;
}

.modal-description {
  margin: 2px 0 0 0;
  font-size:10px;
  font-weight: 400;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: 0;
}

// Modal item
.modal-item {
  margin-bottom: $modal-inner-padding;
  border: none;
}

.modal-item--title {
  font-weight: 500;
}

.modal-item--description {
  margin: 0;
  padding: 15px 20px 0px 2px;
  font-size: 10px;
  line-height: 1.65;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;;
  text-align: right; // right align buttons
  /*border-top: 1px solid $modal-footer-border-color;*/
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}







  /* The Close Button */

button.close {
    opacity: .2;
    padding: 20px;
    position: absolute;
    top:-8px;
    right:-8px;
    z-index: 1100;
    height: 50px;
    width: 50px;
    box-sizing: content-box;
    cursor: pointer;
    color: $text-color;

    svg {
      height: 50px;
      width: auto;
    }
  }

button.close:focus,
button.close:hover {
  opacity: 1;
  cursor: pointer;
}




// hero
.hero {
  background-color: red;
  background-position: right;
  background-size: cover;
  max-height: 400px;
  .box--size-outer {
    &:before {
      padding-top: (1 / 2) * 100%;
    }
  }


}

.fullpage-hero {
  max-height: none;
  .box--size-outer {
  }
  @media only screen and (min-width: $screen-lg) {
    height: calc(100vh - 100px);
  }
}



// forms

form {
  margin-top: 0px;
  margin-bottom: 0px;

  button.btn {
    width: 100%;
    margin: 20px 0px 20px;
    display: block;

  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    height: 230px;
    min-height: 230px;
    max-height: 400px;

  }
}

.formgroup {}

.form-control {
  border-style: solid;
  padding: $padding-large-vertical $padding-large-horizontal;
  @include transition2(border-color, $slow);

  &:focus {
    box-shadow: none;
    border-color: $brand-primary;

  }
}


.form-inline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .form-group {
    flex: 1;
    max-width: 49%;

    .form-control {
      width: 100%;
    }
  }
}

.help-block {
  font-size: 9px;
  font-weight: 300;
  padding: 0px 10px 10px 10px;
  margin: 0;
  position: relative;
  text-align: center;
  color: $gray-light;
}

.mycontactform {
  max-width: 500px;
  margin: 0px 0;
}



/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    background-color: rgba($body-bg,0);
  }

  to {
    background-color: rgba($body-bg,1);
  }
}

@keyframes fadein {
  from {
    background-color: rgba($body-bg,0);
  }

  to {
    background-color: rgba($body-bg,1);
  }
}




@keyframes bounce {
from {
    transform: translateY(0px);
  }
to {
    transform: translateY(-10px);
  }
}
