// Typography

body {
  text-shadow: 0 1px 0px rgba(white, .3);
}

a {
  text-decoration: underline;
}

a, button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

blockquote {
  font-size: 24px;
  border-left: none;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.45;
}

.highlight {
  padding-right: 1px;
  text-shadow: 0 1px 0px rgba(white, 0);
  font-weight: 400;

  > .wrap {
    position: relative;
    background-color: rgba($brand-secondary, 1);
    padding: 1px 0px 2px;
  }
}

.big {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.65;
}

.big.highlight {
  line-height: 2;
  > .wrap {
    padding: 4px 0px 4px;
  }
}

p {
  margin: 0 0 2rem;
}

hr {
  margin: 40px 0;
  border-top: 1px solid #ddd;
}

img {
  width: 100%;
  height: auto;
}

.mt4 {
  margin-top: 4rem;
}

.header,
.label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.label {
  font-size: 16px;
  opacity: 0.8;
}

.portfolio {}

.section-header {
  display: block;
  width: 100%;
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 14px;
  background-color: $body-bg;
  text-align: center;
  position: relative;
  z-index: 3;
  text-decoration: none;
  line-height:50px;
  height: 50px;


  span.section-title {
    display: inline-block;
    background-color: $body-bg;
    padding: 0;
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    position: relative;
    text-align: center;

    svg {
      position: relative;
      @include transition($slow);
      color: rgba($text-color, .5);
      height: 30px;
      width: auto;
      top:10px;
      -webkit-animation: bounce 1s 1s 4 alternate;
      -moz-animation: bounce 1s 1s 4 alternate;
      -o-animation: bounce 1s 1s 4 alternate;
      animation: bounce 1s 1s 4 alternate;
    }

    &:hover, &:focus {
      text-decoration: none;
      svg {
        @include transition($fast);
        color: rgba($brand-primary, 1);
      }
    }
  }

  span.v-lines {
    position: absolute;
    top:50%;
    left:0;
    width: 100%;
    transform: translate(0, -50%);
    z-index: -1;
    span {
      width: 100%;
      height: 0px;
      border-bottom: 2px solid #e5e5e5;
      display: block;
      margin: 2px 0;
    }
  }



}

// Site header

// Header Logo

.site-header {
  padding: 0;
  position: relative;
  top:0;
  z-index: 99;
  width: 100%;

  &:after {
    content: '';
    border-bottom: none;
    width: 100%;
    display: block;
    opacity: .1;
    position: absolute;
    left:0;
    right:0;
  }


  .navbar-brand {
    width: 140px;
    display: inline-block;
    img {
      position: relative;
      top:50%;
      width: 100%;
      transform: translate(0, -50%);
    }
  }
}

// Main Navigation

.container-fluid {
  padding: 20px;
}

.navbar-header {
  padding: 0 20px;
}

.navbar-top {
  margin: 0;
  border-radius: 0;
  border: none;
  height: 50px;
  padding: 0 0px;
}

.navbar-nav {
  > li {margin: 0px 0px;}
  > li > a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    line-height: 50px;
    height: auto;
    padding: 0 10px;
    font-weight: 400;
    color: $gray;

    @media (min-width: $grid-float-breakpoint) {
      font-size: 12px;
      height: 50px;
      background-color: transparent;
    }

    .feather {
      height: 10px;
      display: none;
    }

  }

  > li.active > a,
  > li > a:focus,
  > li > a:hover {
    color: $brand-primary !important;

  }
}

.navbar-default .navbar-toggle {
  border-color: transparent;

  .icon-bar {
    background-color: #888;
    @include transition($fast);
  }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border-color: transparent;
  .icon-bar {
    background-color: $brand-primary;
    @include transition($slow);
  }
}

.navbar-toggle {
  border-color: transparent;
  border-radius: 0px;
  display: block;
  @media only screen and (min-width: $screen-sm) {
    display: none;
  }
}

.navbar-toggle .icon-bar {
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-default .navbar-collapse {
  box-shadow: none;
  border-top: none;

  .navbar-nav {
    padding: 0px 0px 0px;
    background-color: white;

    > li {
      padding: 0 20px;
      border-top: 1px solid #eee;
    }

    @media (min-width: $grid-float-breakpoint) {
      padding: 0 20px;
      background-color: transparent;
      > li {
        padding: 0;
        border: none;
      }
    }
  }
}


// Nav Main


.navbar-sidebar {
  .navbar-collapse {
    position: relative;
  }

  .navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    right: 0px;
    top:-2px;

    .dropdown {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    @media (min-width: $grid-float-breakpoint) {
      position: absolute;
    }
  }
}


.iframe-wrap {
  margin-bottom: -6px;
}

// page


article.post {
  margin: 0px auto 100px;
  max-width: 100%;
  padding: 0px 20px;
  position: relative;

  @media only screen and (min-width: $screen-sm) {
    max-width: 50%;
  }

  .post-header {
    margin-top: 4vw;
  }

  .trompet {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .065em;
  }

  .post-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 4rem;
    margin-top: 3rem;
    letter-spacing: -0em;
    margin-left: -1px;
    line-height: 1.5;
    text-shadow: none;

    > span {
      background-color: darken($body-bg, 5%);
    }
  }

  .post-manchet {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;

  }

  .post-content {}

  .image-wrapper {
    margin-bottom: 40px;
  }

  .image-caption {
    margin: 10px 0;
    font-size: 10px;
  }
}
.post-label {
  font-weight: 400;
  font-size: 12px;
  text-shadow: none;
  letter-spacing: 0.05em;
  position: relative;
  display: inline-block;

}



.typewrite {
  padding-right: 1px;
  font-weight: 500;

  > .wrap {
    position: relative;
    background-color: SALMON;
    padding: 1px 0 4px 0;

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      right: -10px;
      display: inline-block;
      height: 26px;
      width: 2px;
      background-color: $text-color;
      animation: blinker 1s linear infinite;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


// buttons
.btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

// Site Footer

.site-footer {
  padding: 100px 0 25px;
  font-size: 14px;
  .footer-col-wrapper {
    -webkit-display: flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .footer-col {
      -webkit-flex: 1 1 200px;
      flex: 1 1 200px;
      margin: 0 25px;
    }
  }

}

ul.some_list {
  list-style: none;
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;

  padding: 0 10px;
  width: 100%;
  overflow: hidden;

  li {
    margin-left: 5px;

    .some_icon {
      background-color: $brand-primary;
      height: 36px;
      width: 36px;
      border-radius: 100px;
      display: inline-block;
      text-align: center;
      line-height: 38px;

      &:hover,
      &:focus {
        background-color: darken($brand-primary, 10%);
      }
    }

    .svg-inline--fa {
      font-size: 14px;
      color: $body-bg;

    }
  }
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4;
}


address {
  margin-bottom: 10px !important;
  font-style: normal;
}

picture {
  width: 100%;
}
// Flex Grid

.flex-item,
.flex-grid {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item--center {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  align-self: center;
  text-align: center;
  @include center-block;
}

.box--area {
  -webkit-flex: 0 0;
  flex: 0 0;
}

// sliders

.slideshow {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
// Format ratio

.box--size-outer {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (2 / 1) * 100%;
  }

  > .box--size-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.one-col {
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;

  .box--size-outer {
    &:before {
      padding-top: (3 / 2) * 100%;
    }
  }
}

.two-col {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;

  .box--size-outer {
    &:before {
      padding-top: (3 / 4) * 100%;
    }
  }
}

.three-col {
  -webkit-flex: 0 0 75%;
  flex: 0 0 75%;

  .box--size-outer {
    &:before {
      padding-top: (1 / 2) * 100%;
    }
  }
}

.four-col {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  .box--size-outer {
    &:before {
      padding-top: (3 / 8) * 100%;
    }
  }
}

.sixth-col {
  -webkit-flex: 0 0 16.666%;
  flex: 0 0 16.666%;
  .box--size-outer {
    &:before {
      padding-top: (4 / 4) * 100%;
    }
  }
}

.slideshow {
  .box--size-outer {
    &:before {
      padding-top: (1 / 2) * 100%;
    }
  }
}

.clients {
  margin: 40px -1px;
  .box--size-outer {
    > .box--size-inner {
      background-color:#583131;
      margin: 1px;
      color: $body-bg;
      font-size: 10px;
    }
  }
}

.client-logo {
  width: 50%;
}

@media only screen and (max-width: $screen-sm) {
  .four-col,
  .one-col,
  .three-col,
  .two-col {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;

    .box--size-outer {
      &:before {
        padding-top: (1 / 2) * 100%;
      }
    }
  }
  .sixth-col {
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}

@media only screen and (max-width: $screen-sm) {
  .one-col-sm {
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;

    .box--size-outer {
      &:before {
        padding-top: (4 / 2) * 100%;
      }
    }
  }

  .two-col-sm {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;

    .box--size-outer {
      &:before {
        padding-top: (2 / 2) * 100%;
      }
    }
  }


}

// Portfolio Box

.box,
.box--area,
.box--background,
.box--embed,
.box--employee,
.box--footer,
.box--media,
.box--quote,
.box--slide,
.box--spot {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  .tag {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
  }

  a.box--size-inner {}

  a.box--size-inner:focus {
    outline: 0px solid rgba($text-color, 0);
    outline-offset: 0;
  }
}

.box--text-container {
  position: absolute;
  bottom: 20px;
  left: 25px;
  right: 25px;
  margin: 0;
  text-shadow:none;
  color: $text-color;

  .box-title {
    margin: 0 0 1px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 12px;
    line-height: 1.3;
  }

  .box-description {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
  }
}



@media only screen and (max-width: $screen-sm) {
  .box--text-container {
    bottom: 8px;
    left: 13px;
    right: 13px;

    .box-title {
      font-size: 10px;
    }
  }
}



.box--quote {
  .box--text-container {
    top:50%;
    bottom: auto;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);

    .box-title {
      font-size: 5vw;
      line-height: 6vw;
      letter-spacing: normal;
      text-transform: none;
      margin-bottom: 20px;
      font-weight: 900;

      @media only screen and (min-width: $screen-sm) {
        font-size: 4vw;
        line-height: 5vw;
      }
    }
  }
}

.box--media {
  a.myBtn_multi {
    &:after {

    }
  }
}



// Modal

a.myBtn_multi {
  cursor: pointer;
  opacity: 1;
  background-color: rgba(black, 0);
  border: 1px solid rgba(black, 0);
  margin: 0px;


  .box--text-container {
    @include transition($medium);
  }

  .box-description {
    height: 0;
    overflow: hidden;
    -webkit-transition: height $slow ease;
    -moz-transition: height $slow ease;
    -o-transition: height $slow ease;
    transition: height $slow ease;
  }

  &:hover {
    opacity: 1;
    background-color: rgba(black, .3);
    border: 1px solid rgba(black, 0);

    .box--text-container {
      color: white !important;
      @include transition($medium);

      .box-description {
        height: 18px;

        -webkit-transition: height $medium ease;
        -moz-transition: height $medium ease;
        -o-transition: height $medium ease;
        transition: height $medium ease;
      }
    }
  }
}


// Container that the modal scrolls within
.modal {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $body-bg;
  background-color: rgba($body-bg,1);
  left: 0;
  top: 0;
  position: fixed;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.8s;
  animation-name: fadein;
  animation-duration: 0.8s;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      width: $screen-sm;
      max-width: 90%;
      margin: 5% auto;
    }
}

// Actual modal
.modal-content {
    background-color: transparent;
    padding: $modal-padding;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

// Modal background
.modal-backdrop {}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: 0 50px 15px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid $border-color;
  height: 65px;

  @media only screen and (min-width: $screen-sm) {
    padding: 0 0 15px 0;
  }
}

// Title text within header
.modal-title {
  margin: -5px 0 0 -1px;
  line-height: 1.2;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: inline-block;
}

.modal-description {
  margin: 2px 0 0 0;
  font-size:10px;
  font-weight: 400;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: 0;
}

// Modal item
.modal-item {
  margin-bottom: $modal-inner-padding;
  border: none;
}

.modal-item--title {
  font-weight: 500;
}

.modal-item--description {
  margin: 0;
  padding: 15px 20px 0px 2px;
  font-size: 10px;
  line-height: 1.65;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;;
  text-align: right; // right align buttons
  /*border-top: 1px solid $modal-footer-border-color;*/
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}





  /* The Close Button */

button.close {
    opacity: .2;
    padding: 20px;
    position: absolute;
    top:-8px;
    right:-8px;
    z-index: 1100;
    height: 50px;
    width: 50px;
    box-sizing: content-box;
    cursor: pointer;
    color: $text-color;

    .svg-inline--fa {
      height: 50px;
      width: auto;
      font-size: 20px;
    }
  }

button.close:focus,
button.close:hover {
  opacity: 1;
  cursor: pointer;
}




// hero

.hero {
  background-color: transparent;
  background-position: right;
  background-size: cover;
  max-height: 400px;
  .box--size-outer {
    &:before {
      padding-top: (1 / 2) * 100%;
    }
  }


}

.fullpage-hero {
  max-height: none;
  .box--size-outer {
  }
  @media only screen and (min-width: $screen-lg) {
    height: calc(100vh - 100px);
  }
}



// forms

form {
  margin-top: 0px;
  margin-bottom: 0px;

  button.btn {
    width: 100%;
    margin: 20px 0px 20px;
    display: block;

  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    height: 230px;
    min-height: 230px;
    max-height: 400px;

  }
}

.formgroup {}

.form-control {
  border-style: solid;
  padding: $padding-large-vertical $padding-large-horizontal;
  @include transition2(border-color, $slow);

  &:focus {
    box-shadow: none;
    border-color: $brand-primary;

  }
}


.form-inline {
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 15px;

  .form-group {
    -webkit-flex: 1;
    flex: 1;
    max-width: 49%;

    .form-control {
      width: 100%;
    }
  }
}

.help-block {
  font-size: 9px;
  font-weight: 300;
  padding: 0px 10px 10px 10px;
  margin: 0;
  position: relative;
  text-align: center;
  color: $gray-light;
}

.mycontactform {
  margin: 0px 0 5rem;
}

.address-field {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.35;

}



/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    background-color: rgba($body-bg,0);
  }

  to {
    background-color: rgba($body-bg,1);
  }
}

@keyframes fadein {
  from {
    background-color: rgba($body-bg,0);
  }

  to {
    background-color: rgba($body-bg,1);
  }
}




@keyframes bounce {
from {
    transform: translateY(0px);

  }
to {
    transform: translateY(-10px);
    color: $brand-primary;
  }
}
