$site-padding-vertical: 2rem;
$site-padding-horizontal: 3rem;

$navbar-height: 80px !default;

$brand-primary: #FF4D62; 
$brand-secondary: gold;
$brand-yellow: #FFFF00;

$brand-primary-dark: darken($brand-primary, 30%);
$brand-primary-light: lighten($brand-primary, 38%);

$body-bg: #0A0A12;
$input-bg: #f9f9f9;
$input-border: #f9f9f9;
$border-radius-base: 3px;
$text-color: #f9f9f9;
$headings-color: #f9f9f9;

$gray-base:              $body-bg;
$gray-darker:            lighten($gray-base, 13.5%) ; // #222
$gray-dark:              lighten($gray-base, 20%) ;   // #333
$gray:                   lighten($gray-base, 33.5%) ; // #555
$gray-light:             lighten($gray-base, 55%) ; // #777
$gray-lighter:           lighten($gray-base, 75%); // #eee


$font-family-sans-serif:  "Bricolage Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Georgia", "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   "Courier New", Menlo, Monaco, Consolas, monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base: 18px;
$font-size-xlarge: clamp(32px, 5vw, 200px) !default;

$line-height-base: 1.6 !default;
$headings-line-height: 1.25 !default;

$border-color: rgba(black, .05);
$modal-padding: $site-padding-horizontal;
$modal-inner-padding: 20px;

// Buttons

$btn-font-weight:                500;

$btn-primary-bg:                 $brand-primary;
$btn-primary-color:              $body-bg;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-secondary-color:              $text-color;
$btn-secondary-bg:                 $brand-secondary;
$btn-secondary-border:             darken($btn-secondary-bg, 5%);
