<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include slideshow.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script type="text/javascript" src="/assets/js/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.lazy.plugins.min.js"></script>



<script>


  $(function() {
       $('.lazy').lazy({
         effect: "fadeIn",
         effectTime: 1000,
         threshold: 200
       });
   });


  $('.modal').on("show.bs.modal", function() {
    $('.lazy', this).Lazy({
      bind: 'event',
      chainable: false
    });
    
  });


  var $root = $('html, body');
  $('a[href^="#scr-"]').click(function () {
      $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
        return false;
  });

</script>
</body>
</html>
