---
layout: default
---

<section class="frontpage-hero">
	<video width="640" height="360" autoplay muted loop playsinline>
		<source src="/assets/video/experimentsinmotiongraphics_22.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
    <div class="frontpage-hero-inner">
      	<ul class="frontpage-hero--slideshow">
			<li><span>MONSUN</span></li>
			<li><span>Website</span></li>
			<li><span>Design</span></li>
			<li><span>Visuel Identitet</span></li>
			<li><span>Magasin</span></li>
			<li><span>Plakat</span></li>
			<li><span>Avis</span></li>
			<li><span>Folder</span></li>
			<li><span>Foto</span></li>
			<li><span>Brætspil</span></li>
			<li><span>WebApp</span></li>
			<li><span>Bog</span></li>
			<li><span>Logo</span></li>
			<li><span>Free Palestine</span></li>
			<li><span>Grafik</span></li>
		</ul>
    </div>
</section>

<div class="section-separator">
	<a href="#scr-portfolio">
		<span class="separator-arrow"><i class="fal fa-chevron-down"></i></span>
		<span class="v-lines">
			<span></span>
		</span>
	</a>
	<a id="scr-portfolio"></a>
</div>

<section class="section bg-xlines mb3">
	<div class="content-wrapper">
		<h1 class="font-size-xlarge ">Monsun har i over 25 år udviklet unikke løsninger inden for visuel kommunikation fra hjertet af Nørrebro. <a href="/om" class="arrow-link">Mere<i class="fal fa-arrow-right"></i></a></h1>
	</div>
</section>


{% include portfolio.html %}


<script>
	document.addEventListener('DOMContentLoaded', function() {
		const items = document.querySelectorAll('.frontpage-hero--slideshow li');
		let index = 0;
		items[index].classList.add('active');

		setInterval(function() {
			items[index].classList.remove('active');
			index = (index + 1) % items.length;
			items[index].classList.add('active');
		}, 2000);
	});
</script>
